.basket {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  &__item {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 70px;
    height: 90px;
    border-radius: 7px;

    @media screen and (min-width: $bp-tablet) {
      width: 90px;
      height: 120px;
    }
  }

  &__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 8px;

    @media screen and (min-width: $bp-mobile) {
      align-items: center;
      flex-direction: row;
      padding: 0;
    }
  }

  &__description {
    width: 90%;
    padding: 5px 0;
    font-size: 16px;
    display: flex;
    gap: 15px;
    align-items: center;

    @media screen and (min-width: $bp-mobile) {
      padding: 15px 0;
      width: 60%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__name {
    margin-bottom: 0;
    font-size: 14px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
    }
  }

  &__options {
    opacity: .7;
    font-size: 12px;
    font-weight: 400;
  }

  &__settings {
    display: flex;
    height: 100%;
    gap: 15px;
    margin-left: 90px;
    align-items: center;

    @media screen and (min-width: $bp-mobile) {
      margin-left: 0;
      width: 40%;
      justify-content: end;
    }
  }

  &__counter {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
  }

  &__value {
    width: 26px;
    height: 30px;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background: transparent;

    &:focus-visible {
      outline: none;
    }
  }

  &__plus-minus {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid var(--color-secondary-border);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    color: var(--color-secondary-border);
    cursor: pointer;
  }

  &__price {
    text-wrap: nowrap;
    margin: 0;
    width: 80px;
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    stroke: var(--color-secondary-border);
    background-color: transparent;
    padding: 5px;
    border: none;
    cursor: pointer;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__final-sum {
    display: flex;
    justify-content: end;
    color: #000;
    gap: 5px;

    &--total {
      font-size: 22px;
    }
  }

  &__sum {
    font-size: 16px;
  }


  &__submit {
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);

    &:hover {
      color: var(--color-brand-dark);
      border: 2px solid var(--color-brand-dark);
    }
  }
}
