.card {
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(24, 24, 23, 0.08);
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  width: 100%;

  &__container {
    padding: 15px;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  &__button-detail {
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);

    &:hover {
      color: var(--color-brand-dark);
    }
  }

  &__button-buy {
    background-color: var(--color-brand-yellow-light);
    border: 2px solid var(--color-brand-yellow-light);

    &:hover {
      color: var(--color-brand-yellow-dark);
    }
  }
}
