.card {
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(24, 24, 23, 0.08);
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  margin-bottom: 40px;

  &__container {
    padding: 15px 10px;
  }

  &__image {
    width: 100%;
    height: 408px;
    object-position: 40% 30%;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    height: 48px;
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: row;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: column;
    }

    @media screen and (min-width: $bp-large-desktop) {
      flex-direction: row;
    }
  }

  &__button-detail {
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);

    &:hover {
      color: var(--color-brand-dark);
    }
  }

  &__button-buy {
    background-color: var(--color-brand-yellow-light);
    border: 2px solid var(--color-brand-yellow-light);

    &:hover {
      color: var(--color-brand-yellow-dark);
    }
  }
}
