.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: $bp-tablet) {
    width: 50%;
  }

  &__splide {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      padding: 0 3em;
    }
  }

  &__arrow {
    height: 100%;
  }

  &__arrow svg {
    fill: var(--color-splide);
  }

  &__arrow:hover:not(:disabled) svg {
    fill: var(--color-splide-hover);
  }

  &__slide.is-active {
    border: 3px solid var(--color-splide) !important;
  }
}
