.gift-card {
  border-radius: 5px;
  border: 1px solid var(--color-brand-normal);
  box-shadow: 0 8px 16px 0 rgba(24, 24, 23, 0.08);

  &__accent {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--color-brand-normal);
    cursor: pointer;
  }

  &__icon-accent {
    fill: var(--color-primary-light);
  }

  &__info {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__description {
    display: flex;
    gap: 15px;
  }

  &__img {
    width: 70px;
    height: 90px;
    border-radius: 7px;

    @media screen and (min-width: $bp-tablet) {
      width: 90px;
      height: 120px;
    }
  }

  &__text {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-size: 18px;
  }

  &__icon {
    fill: var(--color-brand-yellow-dark);
  }
}
