.price {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: baseline;
  width: 100%;

  &--left {
    justify-content: left;
  }

  &__new {
    font-weight: 600;
    font-size: 18px;
    text-align: center;

    &--modal {
      font-size: 28px;
    }
  }

  &__old {
    color: var(--color-secondary-text);
    font-weight: 400;
    font-size: 14px;
    text-decoration: line-through;
    text-align: center;

    &--modal {
      font-size: 24px;
    }
  }
}
