:root {
  --color-primary-light: #f9f9f9;
  --color-primary-dark: rgb(33, 36, 41);
  --color-brand-normal: #819b57;
  --color-secondary: #ff9f0e;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
