:root {
  --color-primary-light: #f9f9f9;
  --color-primary-dark: rgb(33, 36, 41);
  --color-brand-normal-light: #759a2f;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-brand-light-active: #cfcfbc4d;
  --color-brand-yellow-light: #ff9f0e;
  --color-brand-yellow-dark: #d0810b;
  --color-secondary: #a18268;
  --color-secondary-dark: #6c5a4b;

  --color-secondary-text: #839aa9;
  --color-secondary-hover: rgba(131, 154, 169, 0.17);
  --color-secondary-border: #777;

  --color-splide: #f8fbf9;
  --color-splide-hover: #cfd2d3;

  --error: red;
}

$bp-mobile: 600px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-large-desktop: 1280px;
