.advantages {
  &__description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 1.5;

    @media screen and (min-width: $bp-mobile) {
      font-size: 18px;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
    }

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
    }
  }

  &__text {
    width: 100%;

    @media screen and (min-width: $bp-desktop) {
      width: 60%;
    }
  }

  &__title {
    text-align: center;
  }

  &__paragraph {
    text-align: left;
    width: 100%;

    @media screen and (min-width: $bp-desktop) {
      width: 85%;
    }
  }

  &__list {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__product {
    width: 100%;
    margin: 0;
  }

  &__icon {
    fill: var(--color-brand-normal);
  }

  &__slide {
    height: 500px;

    @media screen and (min-width: $bp-tablet) {
      height: 700px;
    }
  }

  &__video-container {
    box-shadow: 0px 1px 40px -5px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    margin: 0 auto;
    height: 503px;
    width: 281px;
    overflow: hidden;
    align-self: center;

    @media screen and (min-width: $bp-tablet) {
      height: 703px;
      width: 394px;
    }
  }

  &__video {
    height: 500px;

    @media screen and (min-width: $bp-tablet) {
      height: 700px;
    }
  }

  &__progress {
    background-color: var(--color-brand-yellow-light);
  }
}
