.catalog {
  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__container {
    overflow: hidden;
    width: 100%;
  }

  &__list {
    margin-bottom: 32px;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-around;
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet){
      display: flex;
    }
  }
}
