.catalog {
  &__slider {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;

    @media screen and (min-width: $bp-large-desktop) {
      display: flex;
      width: 100%;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet){
      display: flex;
    }
  }
}
