.catalog {

  &__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    @media screen and (min-width: $bp-mobile) {
      justify-content: space-between;
    }

    &::before {
      border: 2px solid var(--color-brand-light);
      content: "";
      display: none;
      width: 100%;
      height: 0;

      @media screen and (min-width: $bp-mobile) {
        display: block;
      }
    }

    &::after {
      border: 2px solid var(--color-brand-light);
      content: "";
      width: 100%;
      height: 0;
      display: none;

      @media screen and (min-width: $bp-mobile) {
        display: block;
      }
    }
  }

  &__title {
    text-align: center;
    line-height: 1.3;
    font-size: 28px;
    font-weight: 800;
    margin: 0 15px;

    @media screen and (min-width: $bp-mobile) {
      text-wrap: nowrap;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 35px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 45px;
    }
  }

  &__slider {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 15px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;

    @media screen and (min-width: $bp-large-desktop) {
      display: flex;
      width: 100%;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
