.delivery {
  &__list {
    display: flex;

    @media screen and (min-width: $bp-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__slide {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      width: 100%;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 25%;
    }
  }
}
