.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 50px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    fill: transparent;
    stroke: var(--color-brand-yellow-light);
  }

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
