.fabs {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;

  &__item {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  &__counter {
    min-width: 30px;
    width: initial;
    height: 30px;
    padding: 0 5px;
    background-color: red;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
  }

  &__icon {
    fill: transparent;
    stroke: var(--color-brand-yellow-light);
  }

}
