.features {
  &__content {
    display: flex;
    height: 566px;
    overflow: hidden;

    @media screen and (min-width: $bp-desktop) {
      height: 566px;
    }

    @media screen and (min-width: $bp-large-desktop) {
      height: 566px;
    }
  }

  &__images {
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-position: center;
  }

  &__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    //gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 60%;
    }
  }
}
