.hero-section {
  padding: 84px 0 0;
  background-image: linear-gradient(103deg, rgba(18, 18, 17, .78) 2.03%, rgba(18, 18, 17, .6) 58.46%, rgba(18, 18, 17, 0) 90.36%),
  url("../../public/images/hero-section.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: var(--color-primary-dark);
  font-size: 40px;
  color: var(--color-primary-light);

  @media screen and (min-width: $bp-tablet) {
    background-image: linear-gradient(103deg, rgba(18, 18, 17, .78) 2.03%, rgba(18, 18, 17, .6) 58.46%, rgba(18, 18, 17, 0) 90.36%),
    url("../../public/images/hero.jpg");
    padding: 124px 0;
  }

  &__container {
    margin-bottom: 38px;

    @media screen and (min-width: $bp-tablet) {
      width: 530px;
    }
  }

  &__title {
    font-size: 58px;
    line-height: 1;
    font-weight: 900;
  }

  &__description {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__guarantee {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    background: rgba(246, 95, 95, 0.1);
    border-radius: 100px;
    width: 190px;
    padding: 8px;

    &--text {
      margin-bottom: 0;
      color: var(--color-primary-light);
    }
  }

  &__icon {
    fill: var(--color-brand-yellow-dark);
  }

  &__buttons {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 29px;
    }
  }

  &__button {
    background: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);

    &:hover {
      color: var(--color-brand-dark);
    }
  }

  &__video-btn {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 50px;
    padding: 0 10px 0 5px;

    &:hover {
      background: var(--color-secondary-hover);
    }
  }

  &__btn {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: var(--color-brand-yellow-light);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-btn {
    fill: #010F1C;
  }


}
