@import "utils/variable";
@import "utils/utils";

@import "components/alert";
@import "components/basket";
@import "components/button";
@import "components/card";
@import "components/counter";
@import "components/input";
@import "components/link";
@import "components/order";
@import "components/delivery-card";
@import "components/gallery";
@import "components/price";
@import "components/pagination";
@import "components/product";
@import "components/property";
@import "components/review";
@import "components/skeleton";

@import "layouts/advantages";
@import "layouts/basket-modal";
@import "layouts/catalog";
@import "layouts/contacts";
@import "layouts/container";
@import "layouts/fabs";
@import "layouts/features";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/hero-section";
@import "layouts/info";
@import "layouts/mobile-menu";
@import "layouts/modal";
@import "layouts/delivery";
@import "layouts/reviews";
@import "layouts/sale";
@import "layouts/section";

@import "base";
